node-red/flows.json
[{"id":"c991a714.b8d9b8","type":"tab","label":"TV","disabled":false,"info":""},{"id":"ce2a09a1.4f8d68","type":"tab","label":"Device Timers","disabled":false,"info":""},{"id":"4b53664e.031fa8","type":"tab","label":"Timed","disabled":false,"info":""},{"id":"16f9f4d0.0e129b","type":"tab","label":"Dashboards","disabled":false,"info":""},{"id":"a5c20add.090468","type":"tab","label":"Radio Presets","disabled":false,"info":""},{"id":"96aa1bbc.b854d8","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"8b955ade.c585d8","type":"tab","label":"Test Tab","disabled":false,"info":""},{"id":"aa8de4e3.26ee98","type":"subflow","name":"Device Timer - Xmas Tree On/Off","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"5724d942.1592e8"}]}],"out":[{"x":1340,"y":60,"wires":[{"id":"df0eef10.52d73","port":0}]},{"x":1180,"y":180,"wires":[{"id":"3be466.f6cc4b9a","port":0}]}],"env":[]},{"id":"fa491300.0c8e3","type":"server","name":"Bilger Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"de5d0945.26ab88","type":"server","name":"Hass.io","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"a0b85dc8.bf12e","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Dining Room TV Turned On/Off","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.tv_dining_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":190,"y":20,"wires":[["f037f74d.f273b8"],["33a452.29bfebae"]]},{"id":"f037f74d.f273b8","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn On Dining Room TV Boolean","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.dining_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":40,"wires":[["1cd2b993.1aa626"]]},{"id":"33a452.29bfebae","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn Off Dining Room TV Boolean","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.dining_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":460,"y":100,"wires":[["9d45bcc8.f9148"]]},{"id":"829f760e.2a97f8","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom TV Turned On/Off","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.tv_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":220,"wires":[["4fd61fe6.e59ea"],["a8fb5c24.879b"]]},{"id":"4fd61fe6.e59ea","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn On Bedroom TV Boolean","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.bedroom_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":200,"wires":[["dea6c8e9.c342c8"]]},{"id":"edeefa41.61fb38","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn Off Bedroom TV Switch","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bedroom_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":260,"wires":[[]]},{"id":"f4677bd6.8c2718","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Media Player to Paused","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_universal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"paused","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":145,"y":510,"wires":[["2922e869.946eb8"],["21f8969b.30080a"]]},{"id":"551cc134.612d1","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Media Player is on (Stopped)","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_universal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":165,"y":570,"wires":[["a4386ea6.dd4c8"],["8814189d.564e38"]]},{"id":"3c4325a8.000e0a","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Media Player to Stopped","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_universal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"stopped","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":155,"y":630,"wires":[["da53e92e.95f7a8"],["75d2a53e.ec513c"]]},{"id":"a5bc9903.0a6af8","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn Off TV","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.bedroom_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":570,"wires":[[]]},{"id":"1cd2b993.1aa626","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn On Dining Room TV Switch","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.dining_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":40,"wires":[[]]},{"id":"9d45bcc8.f9148","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn Off Dining Room TV Switch","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.dining_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":790,"y":100,"wires":[[]]},{"id":"dea6c8e9.c342c8","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn On Bedroom TV Switch","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bedroom_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":780,"y":200,"wires":[[]]},{"id":"a8fb5c24.879b","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn Off Bedroom TV Boolean","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.bedroom_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":260,"wires":[["edeefa41.61fb38"]]},{"id":"2922e869.946eb8","type":"stoptimer","z":"c991a714.b8d9b8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 Minutes","x":580,"y":470,"wires":[["1808a98b.0b6146"],[]]},{"id":"a4386ea6.dd4c8","type":"stoptimer","z":"c991a714.b8d9b8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 Minutes","x":585,"y":540,"wires":[["1808a98b.0b6146"],[]]},{"id":"da53e92e.95f7a8","type":"stoptimer","z":"c991a714.b8d9b8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 Minutes","x":600,"y":615,"wires":[["1808a98b.0b6146"],[]]},{"id":"21f8969b.30080a","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":510,"wires":[["2922e869.946eb8"]]},{"id":"8814189d.564e38","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":580,"wires":[["a4386ea6.dd4c8"]]},{"id":"75d2a53e.ec513c","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":425,"y":645,"wires":[["da53e92e.95f7a8"]]},{"id":"5de82365.f4f3dc","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR TV","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.remote_family_room_tv","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":740,"y":975,"wires":[[]]},{"id":"a00a61ed.dc90d","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR Chromecast","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.remote_family_room_chromecast","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":695,"y":855,"wires":[[]]},{"id":"e64d0afc.8c35c8","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR Plex","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.remote_family_room_plex","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":665,"y":795,"wires":[[]]},{"id":"73e3f95a.e1abf8","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Family Room Roku Source","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.family_room_roku","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":125,"y":855,"wires":[["b9e09c81.0f55d"]]},{"id":"b9e09c81.0f55d","type":"switch","z":"c991a714.b8d9b8","name":"Plex","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"cont","v":"Plex","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":825,"wires":[["e64d0afc.8c35c8"],["32f423cf.68cdac"]]},{"id":"32f423cf.68cdac","type":"switch","z":"c991a714.b8d9b8","name":"Chromecast","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"eq","v":"Chromecast","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":385,"y":885,"wires":[["a00a61ed.dc90d"],["a4b1b77c.60d4b8"]]},{"id":"186ad1dc.783a8e","type":"switch","z":"c991a714.b8d9b8","name":"Not Computer","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"neq","v":"Computer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":335,"y":975,"wires":[["810663e7.2070b"]]},{"id":"df0eef10.52d73","type":"api-call-service","z":"aa8de4e3.26ee98","name":"Turn On Xmas Tree","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"{{entity.input_select.device_timer_xmas_tree_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1190,"y":120,"wires":[[]]},{"id":"6c7f9fb9.51472","type":"api-current-state","z":"aa8de4e3.26ee98","name":"On Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_on_enabled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":80,"wires":[["2c3bfc4f.a58344"],[]]},{"id":"c30e565d.fb1e18","type":"api-current-state","z":"aa8de4e3.26ee98","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_off_enabled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":450,"y":140,"wires":[["3be466.f6cc4b9a"],[]]},{"id":"3be466.f6cc4b9a","type":"api-call-service","z":"aa8de4e3.26ee98","name":"Turn Off Xmas Tree","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"{{entity.input_select.device_timer_xmas_tree_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":830,"y":160,"wires":[[]]},{"id":"7b7bd2b0.396adc","type":"inject","z":"4b53664e.031fa8","name":"Every 10 seconds","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":190,"y":80,"wires":[["b1442b3a.07e9f8"]]},{"id":"b1442b3a.07e9f8","type":"api-call-service","z":"4b53664e.031fa8","name":"Dark Sky Summaries","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"script","service":"dark_sky_summaries","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":480,"y":80,"wires":[[]]},{"id":"156427af.2ab8f8","type":"server-state-changed","z":"16f9f4d0.0e129b","name":"Kitchen Dashboard Motion","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen_dashboard_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"True","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":140,"y":100,"wires":[["677ec6b3.800f98"],[]]},{"id":"b0816f61.2ee8d","type":"api-call-service","z":"16f9f4d0.0e129b","name":"Turn on Dashboard Display Bright","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dashboard_screen_kitchen","data":"{ \"brightness\": \"255\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":820,"y":60,"wires":[[]]},{"id":"5b40f8ce.8dd758","type":"api-call-service","z":"16f9f4d0.0e129b","name":"Turn on Dashboard Display Dim","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.dashboard_screen_kitchen","data":"{ \"brightness\": \"150\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":810,"y":140,"wires":[[]]},{"id":"4f5a1894.fdb8a8","type":"server-state-changed","z":"a5c20add.090468","name":"Radio Station P1","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.radio_station_p1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":40,"wires":[["14ed43c.aedbebc"]]},{"id":"14ed43c.aedbebc","type":"api-current-state","z":"a5c20add.090468","name":"Startup Finished","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ha_startup","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":40,"wires":[["be891b1e.870858"],[]]},{"id":"462bcade.906624","type":"server-state-changed","z":"a5c20add.090468","name":"Radio Station P2","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.radio_station_p2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":100,"wires":[["ba52ee37.de95"]]},{"id":"ba52ee37.de95","type":"api-current-state","z":"a5c20add.090468","name":"Startup Finished","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ha_startup","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":100,"wires":[["e5b8c763.8c49c8"],[]]},{"id":"cf1506a1.73b648","type":"server-state-changed","z":"a5c20add.090468","name":"Radio Station P3","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.radio_station_p3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":160,"wires":[["e5dbf36c.6ae07"]]},{"id":"e5dbf36c.6ae07","type":"api-current-state","z":"a5c20add.090468","name":"Startup Finished","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ha_startup","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":160,"wires":[["ea5e73ea.82bee"],[]]},{"id":"ddd99ce6.b610f","type":"server-state-changed","z":"a5c20add.090468","name":"Radio Station P4","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.radio_station_p4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":220,"wires":[["3a35d154.3b460e"]]},{"id":"3a35d154.3b460e","type":"api-current-state","z":"a5c20add.090468","name":"Startup Finished","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ha_startup","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":300,"y":220,"wires":[["223dce78.e7e1a2"],[]]},{"id":"7ad15628.7aff98","type":"server-state-changed","z":"a5c20add.090468","name":"Google Cast Pxx","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_text.google_cast_p","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":300,"wires":[["885cc173.43b02"]]},{"id":"66f76935.9be608","type":"api-call-service","z":"a5c20add.090468","name":"Update Radio Station Input Selects","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"rest_command","service":"google_cast_save_input_selects","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":680,"y":300,"wires":[["b19551bd.4f093"]]},{"id":"885cc173.43b02","type":"api-call-service","z":"a5c20add.090468","name":"Startup Off (don't update Input Select)","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.ha_startup","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":370,"y":300,"wires":[["66f76935.9be608"]]},{"id":"89ca6f30.cb102","type":"api-call-service","z":"a5c20add.090468","name":"Startup On","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.ha_startup","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":360,"wires":[[]]},{"id":"b19551bd.4f093","type":"api-call-service","z":"a5c20add.090468","name":"Restore Input Select P1","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.radio_station_p1","data":"{\"option\":\"{{{entity.input_text.radio_station_p1}}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":150,"y":360,"wires":[["31b7694d.123bd6"]]},{"id":"31b7694d.123bd6","type":"api-call-service","z":"a5c20add.090468","name":"Restore Input Select P2","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.radio_station_p2","data":"{\"option\":\"{{{entity.input_text.radio_station_p2}}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":450,"y":360,"wires":[["784b5eb5.422cb"]]},{"id":"784b5eb5.422cb","type":"api-call-service","z":"a5c20add.090468","name":"Restore Input Select P3","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.radio_station_p3","data":"{\"option\":\"{{{entity.input_text.radio_station_p3}}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":750,"y":360,"wires":[["e8fb0fba.30e1d"]]},{"id":"e8fb0fba.30e1d","type":"api-call-service","z":"a5c20add.090468","name":"Restore Input Select P4","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.radio_station_p4","data":"{\"option\":\"{{{entity.input_text.radio_station_p4}}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1050,"y":360,"wires":[["89ca6f30.cb102"]]},{"id":"dd6195d9.d6dcd8","type":"server-state-changed","z":"96aa1bbc.b854d8","name":"Front Door Lock Problem","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.schlage_front_door_lock_problem","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"True","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":245,"y":45,"wires":[["ee19d062.e7b0d"],["f60b6aff.8a6058"]]},{"id":"c822dfc.1c9432","type":"api-call-service","z":"96aa1bbc.b854d8","name":"Notify Bilger Parents","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"notify","service":"bilger_parents","entityId":"","data":"{\t    \"message\":'{{ states(\"sensor.schlage_front_door_lock_status\")}}',\t    \"title\":\"Front Door Problem!\",\t    \"data\":\t    {\t        \"tag\": \"front-door-status\",\t        \"sticky\": \"true\",\t        \"color\": \"red\"\t    }    \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":910,"y":45,"wires":[[]]},{"id":"713cd8b0.e51cb8","type":"ha-get-entities","z":"8b955ade.c585d8","server":"de5d0945.26ab88","name":"","rules":[{"property":"entity_id","logic":"is","value":"binary_sensor.window","valueType":"re"},{"property":"state","logic":"is","value":"off","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":250,"y":80,"wires":[["735d23b9.05ee9c","b950f0ed.ced2"]]},{"id":"735d23b9.05ee9c","type":"template","z":"8b955ade.c585d8","name":"Format Friendly Name","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.attributes.friendly_name}}","output":"str","x":460,"y":80,"wires":[["3e769e78.f05212","7ddef925.917058"]]},{"id":"3e769e78.f05212","type":"join","z":"8b955ade.c585d8","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":", ","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":80,"wires":[["999d5fa9.d3ec8","a761542e.93e8c8"]]},{"id":"999d5fa9.d3ec8","type":"api-call-service","z":"8b955ade.c585d8","name":"Notify","server":"de5d0945.26ab88","version":1,"debugenabled":false,"service_domain":"notify","service":"pushover","entityId":"waynebilger","data":"{\"message\":\"It's about to rain and {{payload}} are open.\",\"title\":\"Left Open\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":750,"y":80,"wires":[["51960716.de4818"]]},{"id":"5609d9e4.6e8de8","type":"inject","z":"8b955ade.c585d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":90,"y":80,"wires":[["713cd8b0.e51cb8","e3f36db0.418d2","3972e8fc.887338"]]},{"id":"b950f0ed.ced2","type":"debug","z":"8b955ade.c585d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":120,"wires":[]},{"id":"7ddef925.917058","type":"debug","z":"8b955ade.c585d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":140,"wires":[]},{"id":"a761542e.93e8c8","type":"debug","z":"8b955ade.c585d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":40,"wires":[]},{"id":"e3f36db0.418d2","type":"ha-get-entities","z":"8b955ade.c585d8","server":"de5d0945.26ab88","name":"","rules":[{"property":"entity_id","logic":"is","value":"binary_sensor.door","valueType":"re"},{"property":"state","logic":"is","value":"off","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":250,"y":140,"wires":[["b950f0ed.ced2"]]},{"id":"3972e8fc.887338","type":"ha-get-entities","z":"8b955ade.c585d8","server":"de5d0945.26ab88","name":"","rules":[{"property":"entity_id","logic":"is","value":"cover.door_garage","valueType":"re"},{"property":"state","logic":"is","value":"off","valueType":"str"}],"output_type":"split","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":250,"y":20,"wires":[["735d23b9.05ee9c","b950f0ed.ced2"]]},{"id":"51960716.de4818","type":"debug","z":"8b955ade.c585d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":80,"wires":[]},{"id":"be891b1e.870858","type":"api-call-service","z":"a5c20add.090468","name":"Save in Input Text","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p1","data":"{\"value\": \"{{{entity.input_select.radio_station_p1}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"flow","mustacheAltTags":false,"x":530,"y":40,"wires":[["fca6bf3.707304"]]},{"id":"fca6bf3.707304","type":"api-call-service","z":"a5c20add.090468","name":"Save Display Name","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p1_display","data":"{\"value\": \"{{{entity.input_select.radio_station_p1}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":40,"wires":[[]]},{"id":"e5b8c763.8c49c8","type":"api-call-service","z":"a5c20add.090468","name":"Save in Input Text","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p2","data":"{\"value\": \"{{{entity.input_select.radio_station_p2}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"flow","mustacheAltTags":false,"x":530,"y":100,"wires":[["86e5231a.96e2"]]},{"id":"86e5231a.96e2","type":"api-call-service","z":"a5c20add.090468","name":"Save Display Name","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p2_display","data":"{\"value\": \"{{{entity.input_select.radio_station_p2}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":100,"wires":[[]]},{"id":"ea5e73ea.82bee","type":"api-call-service","z":"a5c20add.090468","name":"Save in Input Text","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p3","data":"{\"value\": \"{{{entity.input_select.radio_station_p3}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"flow","mustacheAltTags":false,"x":530,"y":160,"wires":[["35601a4b.e56076"]]},{"id":"35601a4b.e56076","type":"api-call-service","z":"a5c20add.090468","name":"Save Display Name","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p3_display","data":"{\"value\": \"{{{entity.input_select.radio_station_p3}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":160,"wires":[[]]},{"id":"223dce78.e7e1a2","type":"api-call-service","z":"a5c20add.090468","name":"Save in Input Text","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p4","data":"{\"value\": \"{{{entity.input_select.radio_station_p4}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"flow","mustacheAltTags":false,"x":530,"y":220,"wires":[["4a587e99.87006"]]},{"id":"4a587e99.87006","type":"api-call-service","z":"a5c20add.090468","name":"Save Display Name","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.radio_station_p4_display","data":"{\"value\": \"{{{entity.input_select.radio_station_p4}}}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":810,"y":220,"wires":[[]]},{"id":"5724d942.1592e8","type":"trigger-state","z":"aa8de4e3.26ee98","name":"Xmas Tree Timer","server":"fa491300.0c8e3","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.device_timer_xmas_tree_on_time","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"9iov3qytsl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":120,"wires":[["6c7f9fb9.51472"],["c30e565d.fb1e18"]]},{"id":"677ec6b3.800f98","type":"trigger-state","z":"16f9f4d0.0e129b","name":"Sun Above Horizon","server":"fa491300.0c8e3","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sun.sun","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"l0mrtyj71gl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"above_horizon"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":410,"y":100,"wires":[["b0816f61.2ee8d"],["5b40f8ce.8dd758"]]},{"id":"2c3bfc4f.a58344","type":"api-current-state","z":"aa8de4e3.26ee98","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_on_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":100,"wires":[["7de84dce.d26e74"],["df0eef10.52d73"]]},{"id":"7de84dce.d26e74","type":"api-current-state","z":"aa8de4e3.26ee98","name":"Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.test","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":950,"y":80,"wires":[["df0eef10.52d73"],[]]},{"id":"44bf48fd.000c18","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_off_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":645,"y":165,"wires":[["bd1c519f.c4b01"],[]]},{"id":"ad305d40.a1cea","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Xmas Tree","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"{{entity.input_select.device_timer_xmas_tree_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1395,"y":75,"wires":[[]]},{"id":"dfecd3b4.13e5b","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_enabled_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":870,"y":30,"wires":[["ef92a25b.05336"],[]]},{"id":"bd1c519f.c4b01","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_enabled_off","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":180,"wires":[["13dce8e3.44da47"],[]]},{"id":"13dce8e3.44da47","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Xmas Tree","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"{{entity.input_select.device_timer_xmas_tree_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1395,"y":180,"wires":[[]]},{"id":"ef92a25b.05336","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_on_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":965,"y":75,"wires":[["bd5c9708.3768f8"],["ad305d40.a1cea"]]},{"id":"bd5c9708.3768f8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1185,"y":30,"wires":[["ad305d40.a1cea"],["13dce8e3.44da47"]]},{"id":"80d094fa.cb18b8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Xmas Tree Timer","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.device_timer_xmas_tree_on_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":630,"y":45,"wires":[["dfecd3b4.13e5b"],["bd1c519f.c4b01"]]},{"id":"5f5ee187.62f25","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Xmas Tree Timer","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_xmas_tree_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":15,"wires":[["9669aaf.ee36d58"]]},{"id":"44799834.c024e8","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":150,"wires":[["9669aaf.ee36d58"],["d48c154a.6b9138"]]},{"id":"2874e7cc.6636d8","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_xmas_tree_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":105,"wires":[["9669aaf.ee36d58"]]},{"id":"41959fe8.211d","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_xmas_tree_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":195,"wires":[["d48c154a.6b9138"]]},{"id":"16125985.e00ab6","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_xmas_tree_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":60,"wires":[["9669aaf.ee36d58"]]},{"id":"26d8dfbd.d7648","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_1_off_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":405,"y":405,"wires":[["ee778be7.87f9b8"],[]]},{"id":"910261f0.d011c","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Device","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"{{entity.input_select.device_timer_1_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1350,"y":315,"wires":[[]]},{"id":"8ccedc76.9ba5","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_1_enabled_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":300,"wires":[["3cf74c21.defdc4"],[]]},{"id":"ee778be7.87f9b8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_1_enabled_off","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":360,"wires":[["c20d2b41.a68e38"],[]]},{"id":"c20d2b41.a68e38","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Device","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"{{entity.input_select.device_timer_1_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":400,"wires":[[]]},{"id":"3cf74c21.defdc4","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_1_on_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":320,"wires":[["e37ec23b.26359"],["910261f0.d011c"]]},{"id":"e37ec23b.26359","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":280,"wires":[["910261f0.d011c"],["c20d2b41.a68e38"]]},{"id":"994ca08d.f1363","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Device Timer 1","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.device_timer_1_on_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":320,"wires":[["8ccedc76.9ba5"],["ee778be7.87f9b8"]]},{"id":"289032a6.1c4a1e","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Device Timer 1","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_1_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":255,"wires":[["994ca08d.f1363"]]},{"id":"4faf13fd.98034c","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":390,"wires":[["994ca08d.f1363"],["26d8dfbd.d7648"]]},{"id":"8440b1c7.7b057","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_1_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":345,"wires":[["994ca08d.f1363"]]},{"id":"ad3b50cd.fbf2f","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_1_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":435,"wires":[["26d8dfbd.d7648"]]},{"id":"4e204ccf.695254","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_1_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":300,"wires":[["994ca08d.f1363"]]},{"id":"87e60ef5.6899b","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_2_off_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":405,"y":645,"wires":[["601f949a.8a840c"],[]]},{"id":"43fd8277.bab1bc","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Device","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"{{entity.input_select.device_timer_2_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1350,"y":555,"wires":[[]]},{"id":"6f175156.aa684","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_2_enabled_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":540,"wires":[["8a6001f2.2cec1"],[]]},{"id":"601f949a.8a840c","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_2_enabled_off","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":600,"wires":[["12a40a3c.46ecc6"],[]]},{"id":"12a40a3c.46ecc6","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Device","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"{{entity.input_select.device_timer_2_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":640,"wires":[[]]},{"id":"8a6001f2.2cec1","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_2_on_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":560,"wires":[["390f8b44.5e8a04"],["43fd8277.bab1bc"]]},{"id":"390f8b44.5e8a04","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":520,"wires":[["43fd8277.bab1bc"],["12a40a3c.46ecc6"]]},{"id":"921b8a43.569708","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Device Timer 2","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.device_timer_2_on_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":560,"wires":[["6f175156.aa684"],["601f949a.8a840c"]]},{"id":"62f09b94.66add4","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Device Timer 2","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_2_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":495,"wires":[["921b8a43.569708"]]},{"id":"284583b2.358e8c","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":630,"wires":[["921b8a43.569708"],["87e60ef5.6899b"]]},{"id":"136874b4.a72b0b","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_2_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":585,"wires":[["921b8a43.569708"]]},{"id":"c71aa3f8.a7783","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_2_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":675,"wires":[["87e60ef5.6899b"]]},{"id":"7750b946.ccb748","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_2_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":540,"wires":[["921b8a43.569708"]]},{"id":"b6dc0c22.16ff4","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_3_off_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":405,"y":885,"wires":[["44714d13.a886e4"],[]]},{"id":"cfcb577d.af6778","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Device","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"{{entity.input_select.device_timer_3_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1350,"y":795,"wires":[[]]},{"id":"2cc00f8.b4021f","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_3_enabled_on","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":780,"wires":[["55421614.61c5c8"],[]]},{"id":"44714d13.a886e4","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_3_enabled_off","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":650,"y":840,"wires":[["18e8f6bd.924729"],[]]},{"id":"18e8f6bd.924729","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Device","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"{{entity.input_select.device_timer_3_list}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":880,"wires":[[]]},{"id":"55421614.61c5c8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_3_on_bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":890,"y":800,"wires":[["e5bc488.d3aa0b8"],["cfcb577d.af6778"]]},{"id":"e5bc488.d3aa0b8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.bilger_home","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1110,"y":760,"wires":[["cfcb577d.af6778"],["18e8f6bd.924729"]]},{"id":"7690c05b.9bedc","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Device Timer 3","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.device_timer_3_on_time","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":410,"y":800,"wires":[["2cc00f8.b4021f"],["44714d13.a886e4"]]},{"id":"626cf435.ed2c2c","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Device Timer 3","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_3_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":735,"wires":[["7690c05b.9bedc"]]},{"id":"a02b116a.0e33b","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":150,"y":870,"wires":[["7690c05b.9bedc"],["b6dc0c22.16ff4"]]},{"id":"e214d040.c4935","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_3_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":825,"wires":[["7690c05b.9bedc"]]},{"id":"35cfc2f0.aa75fe","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_3_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":915,"wires":[["b6dc0c22.16ff4"]]},{"id":"d4dfe406.345aa8","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_3_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":155,"y":780,"wires":[["7690c05b.9bedc"]]},{"id":"7aecda7.4099324","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Deck TV to Standby","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.deck_aftt","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"standby","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":100,"y":1320,"wires":[["57b3dc7f.056034"],["8be0418b.d452e"]]},{"id":"4ba6b14.de9ba5","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Deck TV to Off","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.deck_aftt","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":1380,"wires":[["ddbc0527.1bb1d8"],["a2b9a775.c86828"]]},{"id":"71ee2ae6.832d84","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Deck TV to Unavailable","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.deck_aftt","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":1440,"wires":[["93ec7a34.33e038"],["957ad178.b0cb3"]]},{"id":"197348d9.34f3e7","type":"api-call-service","z":"c991a714.b8d9b8","name":"ENTITY_REMOVED-SAME AS XMAS TIMERTurn Off TV Fan","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":940,"y":1320,"wires":[[]]},{"id":"57b3dc7f.056034","type":"stoptimer","z":"c991a714.b8d9b8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 Minutes","x":570,"y":1320,"wires":[["197348d9.34f3e7"],[]]},{"id":"ddbc0527.1bb1d8","type":"stoptimer","z":"c991a714.b8d9b8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 Minutes","x":570,"y":1380,"wires":[["197348d9.34f3e7"],[]]},{"id":"93ec7a34.33e038","type":"stoptimer","z":"c991a714.b8d9b8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 Minutes","x":570,"y":1440,"wires":[["197348d9.34f3e7"],[]]},{"id":"8be0418b.d452e","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1340,"wires":[["57b3dc7f.056034"]]},{"id":"a2b9a775.c86828","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1400,"wires":[["ddbc0527.1bb1d8"]]},{"id":"957ad178.b0cb3","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1460,"wires":[["93ec7a34.33e038"]]},{"id":"371ea123.7b387e","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.family_room_plex_user","data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1050,"wires":[[]]},{"id":"a40cf335.81906","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Family Room Plex","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.family_room_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"x":115,"y":1050,"wires":[["de8ab243.f833f"],[]]},{"id":"de8ab243.f833f","type":"api-current-state","z":"c991a714.b8d9b8","name":"Family Room Plex state","server":"fa491300.0c8e3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.family_room_roku_plex","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":375,"y":1050,"wires":[["9ef1b665.2066e8"]]},{"id":"7c007d68.976fe4","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":1050,"wires":[["371ea123.7b387e"]]},{"id":"9ef1b665.2066e8","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":615,"y":1050,"wires":[["7c007d68.976fe4"],["371ea123.7b387e"]]},{"id":"9c463ad4.cbf648","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.dining_room_plex_user","data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1110,"wires":[[]]},{"id":"fc35370.47ce0c8","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Dining Room Plex","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.dining_room_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"x":115,"y":1110,"wires":[["abd00270.fe741"],[]]},{"id":"abd00270.fe741","type":"api-current-state","z":"c991a714.b8d9b8","name":"Dining Room Plex state","server":"fa491300.0c8e3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.dining_room_plex","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":375,"y":1110,"wires":[["c3b9feb8.0776e"]]},{"id":"f0469999.ef37a8","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.session_username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":1110,"wires":[["9c463ad4.cbf648"]]},{"id":"c3b9feb8.0776e","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":615,"y":1110,"wires":[["f0469999.ef37a8"],["9c463ad4.cbf648"]]},{"id":"bbda243f.da7e48","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.bedroom_plex_user","data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1170,"wires":[[]]},{"id":"393c5258.8ede8e","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Plex","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"x":95,"y":1170,"wires":[["2bf51952.fa6766"],[]]},{"id":"2bf51952.fa6766","type":"api-current-state","z":"c991a714.b8d9b8","name":"Bedroom Plex state","server":"fa491300.0c8e3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.bedroom_plex","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":355,"y":1170,"wires":[["7905341e.f7987c"]]},{"id":"5dc8589e.a46d88","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.session_username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":1170,"wires":[["bbda243f.da7e48"]]},{"id":"7905341e.f7987c","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":615,"y":1170,"wires":[["5dc8589e.a46d88"],["bbda243f.da7e48"]]},{"id":"4704434a.79e9ac","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.theatre_plex_user","data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":1230,"wires":[[]]},{"id":"8e267186.30cb3","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Theatre Plex","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.theatre_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"x":95,"y":1230,"wires":[["22c149d8.a37e06"],[]]},{"id":"22c149d8.a37e06","type":"api-current-state","z":"c991a714.b8d9b8","name":"Theatre Plex state","server":"fa491300.0c8e3","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.theatre_plex","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":355,"y":1230,"wires":[["bb94b85d.ab0d48"]]},{"id":"b7e6ea36.4b2148","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.session_username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":795,"y":1230,"wires":[["4704434a.79e9ac"]]},{"id":"bb94b85d.ab0d48","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":615,"y":1230,"wires":[["b7e6ea36.4b2148"],["4704434a.79e9ac"]]},{"id":"7e8b11e1.03e69","type":"api-call-service","z":"c991a714.b8d9b8","name":"Theatre Stop Lights","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"script","service":"theatre_stop_lights","entityId":"waynebilger","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1605,"wires":[[]]},{"id":"b1872681.2eea18","type":"api-call-service","z":"c991a714.b8d9b8","name":"Theatre Play Lights","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"script","service":"theatre_play_lights","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":1545,"wires":[[]]},{"id":"f663c7d6.5e6dd8","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Theatre Plex Playing","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.theatre_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"playing","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":1545,"wires":[["b1872681.2eea18"],["7e8b11e1.03e69"]]},{"id":"bd677b24.f9b988","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Theatre Roku Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.theatre_roku","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"x":100,"y":1605,"wires":[["7e8b11e1.03e69"],[]]},{"id":"2db404cc.debb0c","type":"api-call-service","z":"96aa1bbc.b854d8","name":"Notify Bilger Parents","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"notify","service":"bilger_parents","entityId":"","data":"{\t    \"message\":'{{ states(\"sensor.schlage_front_door_lock_status\")}}',\t    \"title\":\"Front Door Ok.\",\t    \"data\":\t    {\t        \"tag\": \"front-door-status-ok\",\t        \"sticky\": \"false\",\t        \"color\": \"green\"\t    }    \t}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":true,"x":910,"y":135,"wires":[[]]},{"id":"9669aaf.ee36d58","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Manual Mode","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_manual","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":395,"y":45,"wires":[[],["80d094fa.cb18b8"]]},{"id":"d48c154a.6b9138","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Manual Mode","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.device_timer_xmas_tree_manual","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":395,"y":165,"wires":[[],["44bf48fd.000c18"]]},{"id":"ee19d062.e7b0d","type":"api-current-state","z":"96aa1bbc.b854d8","name":"Startup Finished","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ha_startup","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":30,"wires":[["c822dfc.1c9432"],[]]},{"id":"f60b6aff.8a6058","type":"api-current-state","z":"96aa1bbc.b854d8","name":"Startup Finished","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ha_startup","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":530,"y":90,"wires":[["2db404cc.debb0c"],[]]},{"id":"dae67b6b.400278","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Roku App Stopped","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_universal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":135,"y":450,"wires":[["9b8ff3eb.35c5b"],["f17ffcc6.8c734"]]},{"id":"f17ffcc6.8c734","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":378,"y":453,"wires":[["9b8ff3eb.35c5b"]]},{"id":"9b8ff3eb.35c5b","type":"stoptimer","z":"c991a714.b8d9b8","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes","x":595,"y":405,"wires":[["1808a98b.0b6146"],[]]},{"id":"973b42f8.fc87a","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Roku Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_universal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":115,"y":390,"wires":[["5d18e2f2.e6f8dc"],["99f554dc.96caf8"]]},{"id":"99f554dc.96caf8","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":390,"wires":[["5d18e2f2.e6f8dc"]]},{"id":"5d18e2f2.e6f8dc","type":"stoptimer","z":"c991a714.b8d9b8","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes","x":595,"y":345,"wires":[["1808a98b.0b6146"],[]]},{"id":"3213f57c.041f4a","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Roku Home","server":"fa491300.0c8e3","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_universal","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":115,"y":735,"wires":[["68f2f149.46f97"],["feb69469.6b8ee8"]]},{"id":"feb69469.6b8ee8","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":750,"wires":[["68f2f149.46f97"]]},{"id":"68f2f149.46f97","type":"stoptimer","z":"c991a714.b8d9b8","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 Minutes","x":595,"y":690,"wires":[["9b50a6b4.b9beb8"],[]]},{"id":"9b50a6b4.b9beb8","type":"api-call-service","z":"c991a714.b8d9b8","name":"Open Plex App on Roku","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.bedroom_roku_plex","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":830,"y":675,"wires":[[]]},{"id":"a4b1b77c.60d4b8","type":"switch","z":"c991a714.b8d9b8","name":"Plex 4k Stick","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"eq","v":"Roku 4k Stick","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":385,"y":930,"wires":[["77b109b1.9be038"],["186ad1dc.783a8e"]]},{"id":"77b109b1.9be038","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR Roku 4k Stick","server":"fa491300.0c8e3","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"script.remote_family_room_plex_roku_4kstick","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":695,"y":915,"wires":[[]]},{"id":"810663e7.2070b","type":"switch","z":"c991a714.b8d9b8","name":"Not Receiver","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"neq","v":"Receiver","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":535,"y":975,"wires":[["5de82365.f4f3dc"]]},{"id":"1808a98b.0b6146","type":"ping","z":"c991a714.b8d9b8","protocol":"IPv4","mode":"triggered","name":"Ping Bedroom Chromecast","host":"192.168.1.68","timer":"20","inputs":1,"x":885,"y":375,"wires":[["138cf793.489c28"]]},{"id":"138cf793.489c28","type":"switch","z":"c991a714.b8d9b8","name":"Ping ok","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":840,"y":435,"wires":[["f423fb0b.f175b8"],[]]},{"id":"f423fb0b.f175b8","type":"api-current-state","z":"c991a714.b8d9b8","name":"Bedroom Chromecast playing","server":"fa491300.0c8e3","version":1,"outputs":2,"halt_if":"playing","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"media_player.bedroom_chromecast","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":910,"y":495,"wires":[[],["a5bc9903.0a6af8"]]}]
