node-red/flows.json
[{"id":"c991a714.b8d9b8","type":"tab","label":"TV","disabled":false,"info":""},{"id":"ce2a09a1.4f8d68","type":"tab","label":"Device Timers","disabled":false,"info":""},{"id":"e380253e0b5c4180","type":"tab","label":"Android Post","disabled":false,"info":""},{"id":"aa8de4e3.26ee98","type":"subflow","name":"Device Timer - Xmas Tree On/Off","info":"","category":"","in":[{"x":40,"y":120,"wires":[{"id":"5724d942.1592e8"}]}],"out":[{"x":1340,"y":60,"wires":[{"id":"df0eef10.52d73","port":0}]},{"x":1180,"y":180,"wires":[{"id":"3be466.f6cc4b9a","port":0}]}],"env":[]},{"id":"fa491300.0c8e3","type":"server","name":"Bilger Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"de5d0945.26ab88","type":"server","name":"Hass.io","version":5,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"cb38d2a3.10198","type":"server","name":"Home Assistant","version":5,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"df0eef10.52d73","type":"api-call-service","z":"aa8de4e3.26ee98","name":"Turn On Xmas Tree","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_xmas_tree_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1190,"y":120,"wires":[[]]},{"id":"6c7f9fb9.51472","type":"api-current-state","z":"aa8de4e3.26ee98","name":"On Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_on_enabled","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":80,"wires":[["2c3bfc4f.a58344"],[]]},{"id":"c30e565d.fb1e18","type":"api-current-state","z":"aa8de4e3.26ee98","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_off_enabled","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":450,"y":140,"wires":[["3be466.f6cc4b9a"],[]]},{"id":"3be466.f6cc4b9a","type":"api-call-service","z":"aa8de4e3.26ee98","name":"Turn Off Xmas Tree","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_xmas_tree_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":830,"y":160,"wires":[[]]},{"id":"5724d942.1592e8","type":"trigger-state","z":"aa8de4e3.26ee98","name":"Xmas Tree Timer","server":"fa491300.0c8e3","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.device_timer_xmas_tree_on_time","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"9iov3qytsl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"inputs":1,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":true,"x":190,"y":120,"wires":[["6c7f9fb9.51472"],["c30e565d.fb1e18"]]},{"id":"2c3bfc4f.a58344","type":"api-current-state","z":"aa8de4e3.26ee98","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_on_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":690,"y":100,"wires":[["7de84dce.d26e74"],["df0eef10.52d73"]]},{"id":"7de84dce.d26e74","type":"api-current-state","z":"aa8de4e3.26ee98","name":"Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.test","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":950,"y":80,"wires":[["df0eef10.52d73"],[]]},{"id":"5de82365.f4f3dc","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR TV","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.remote_family_room_tv"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":180,"wires":[[]]},{"id":"a00a61ed.dc90d","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR Chromecast","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.remote_family_room_chromecast"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":140,"wires":[[]]},{"id":"e64d0afc.8c35c8","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR Plex","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.remote_family_room_plex"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":20,"wires":[[]]},{"id":"73e3f95a.e1abf8","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Family Room Roku Source","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.family_room_roku","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":145,"y":80,"wires":[["b9e09c81.0f55d"]]},{"id":"b9e09c81.0f55d","type":"switch","z":"c991a714.b8d9b8","name":"Plex","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"cont","v":"Plex","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":40,"wires":[["e64d0afc.8c35c8"],["94ed4d96cf8441b1"]]},{"id":"32f423cf.68cdac","type":"switch","z":"c991a714.b8d9b8","name":"Chromecast","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"eq","v":"Chromecast","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":140,"wires":[["a00a61ed.dc90d"],["186ad1dc.783a8e"]]},{"id":"7aecda7.4099324","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Deck TV to Standby","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.dining_room_chromecast","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"standby","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":545,"wires":[[],["8be0418b.d452e"]]},{"id":"4ba6b14.de9ba5","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Deck TV to Off","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.dining_room_chromecast","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":605,"wires":[[],["a2b9a775.c86828"]]},{"id":"71ee2ae6.832d84","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Deck TV to Unavailable","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.dining_room_chromecast","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":665,"wires":[[],["957ad178.b0cb3"]]},{"id":"197348d9.34f3e7","type":"api-call-service","z":"c991a714.b8d9b8","name":"Turn Off TV Fan","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.deck_tv_fan"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":810,"y":545,"wires":[[]]},{"id":"8be0418b.d452e","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":565,"wires":[[]]},{"id":"a2b9a775.c86828","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":625,"wires":[[]]},{"id":"957ad178.b0cb3","type":"change","z":"c991a714.b8d9b8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":685,"wires":[[]]},{"id":"371ea123.7b387e","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.family_room_plex_user"],"data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":275,"wires":[[]]},{"id":"a40cf335.81906","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Family Room Plex","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.family_room_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":135,"y":275,"wires":[["de8ab243.f833f"],[]]},{"id":"de8ab243.f833f","type":"api-current-state","z":"c991a714.b8d9b8","name":"Family Room Plex state","server":"fa491300.0c8e3","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.family_room_roku_plex","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":395,"y":275,"wires":[["9ef1b665.2066e8"]]},{"id":"7c007d68.976fe4","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":275,"wires":[["371ea123.7b387e"]]},{"id":"9ef1b665.2066e8","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":635,"y":275,"wires":[["7c007d68.976fe4"],["371ea123.7b387e"]]},{"id":"9c463ad4.cbf648","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.dining_room_plex_user"],"data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":335,"wires":[[]]},{"id":"fc35370.47ce0c8","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Dining Room Plex","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.dining_room_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":135,"y":335,"wires":[["abd00270.fe741"],[]]},{"id":"abd00270.fe741","type":"api-current-state","z":"c991a714.b8d9b8","name":"Dining Room Plex state","server":"fa491300.0c8e3","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.dining_room_plex","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":395,"y":335,"wires":[["c3b9feb8.0776e"]]},{"id":"f0469999.ef37a8","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.session_username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":335,"wires":[["9c463ad4.cbf648"]]},{"id":"c3b9feb8.0776e","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":635,"y":335,"wires":[["f0469999.ef37a8"],["9c463ad4.cbf648"]]},{"id":"bbda243f.da7e48","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.bedroom_plex_user"],"data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":395,"wires":[[]]},{"id":"393c5258.8ede8e","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Bedroom Plex","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.bedroom_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":115,"y":395,"wires":[["2bf51952.fa6766"],[]]},{"id":"2bf51952.fa6766","type":"api-current-state","z":"c991a714.b8d9b8","name":"Bedroom Plex state","server":"fa491300.0c8e3","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.bedroom_plex","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":375,"y":395,"wires":[["7905341e.f7987c"]]},{"id":"5dc8589e.a46d88","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.session_username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":395,"wires":[["bbda243f.da7e48"]]},{"id":"7905341e.f7987c","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":635,"y":395,"wires":[["5dc8589e.a46d88"],["bbda243f.da7e48"]]},{"id":"4704434a.79e9ac","type":"api-call-service","z":"c991a714.b8d9b8","name":"Update Plex User","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"input_text","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_text.theatre_plex_user"],"data":"{\"value\":\"{{data.attributes.username}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":455,"wires":[[]]},{"id":"8e267186.30cb3","type":"server-state-changed","z":"c991a714.b8d9b8","name":"Theatre Plex","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.theatre_plex","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"unavailable","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":115,"y":455,"wires":[["22c149d8.a37e06"],[]]},{"id":"22c149d8.a37e06","type":"api-current-state","z":"c991a714.b8d9b8","name":"Theatre Plex state","server":"fa491300.0c8e3","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.theatre_plex","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":375,"y":455,"wires":[["bb94b85d.ab0d48"]]},{"id":"b7e6ea36.4b2148","type":"change","z":"c991a714.b8d9b8","name":"Wayne","rules":[{"t":"set","p":"data.attributes.session_username","pt":"msg","to":"Wayne","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":815,"y":455,"wires":[["4704434a.79e9ac"]]},{"id":"bb94b85d.ab0d48","type":"switch","z":"c991a714.b8d9b8","name":"Plex Username","property":"data.attributes.username","propertyType":"msg","rules":[{"t":"eq","v":"WayneBilger","vt":"str"},{"t":"neq","v":"WayneBilger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":635,"y":455,"wires":[["b7e6ea36.4b2148"],["4704434a.79e9ac"]]},{"id":"77b109b1.9be038","type":"api-call-service","z":"c991a714.b8d9b8","name":"Remote-FR Android TV","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["script.remote_family_room_androidtv"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":80,"wires":[[]]},{"id":"810663e7.2070b","type":"switch","z":"c991a714.b8d9b8","name":"Not Receiver","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"neq","v":"Receiver","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":180,"wires":[["5de82365.f4f3dc"]]},{"id":"94ed4d96cf8441b1","type":"switch","z":"c991a714.b8d9b8","name":"Android TV","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"eq","v":"Android TV","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":80,"wires":[["77b109b1.9be038"],["32f423cf.68cdac"]]},{"id":"186ad1dc.783a8e","type":"switch","z":"c991a714.b8d9b8","name":"Not Computer","property":"data.new_state.attributes.source","propertyType":"msg","rules":[{"t":"neq","v":"Computer","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":420,"y":200,"wires":[["810663e7.2070b"]]},{"id":"44bf48fd.000c18","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_off_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":645,"y":165,"wires":[["bd1c519f.c4b01"],[]]},{"id":"ad305d40.a1cea","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Xmas Tree","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_xmas_tree_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1395,"y":75,"wires":[[]]},{"id":"dfecd3b4.13e5b","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_enabled_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":870,"y":30,"wires":[["ef92a25b.05336"],[]]},{"id":"bd1c519f.c4b01","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_enabled_off","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":900,"y":180,"wires":[["13dce8e3.44da47"],[]]},{"id":"13dce8e3.44da47","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Xmas Tree","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_xmas_tree_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1395,"y":180,"wires":[[]]},{"id":"ef92a25b.05336","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_on_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":965,"y":75,"wires":[["bd5c9708.3768f8"],["ad305d40.a1cea"]]},{"id":"bd5c9708.3768f8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1185,"y":30,"wires":[["ad305d40.a1cea"],["13dce8e3.44da47"]]},{"id":"80d094fa.cb18b8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Xmas Tree Timer","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.device_timer_xmas_tree_on_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":45,"wires":[["dfecd3b4.13e5b"],["bd1c519f.c4b01"]]},{"id":"5f5ee187.62f25","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Xmas Tree Timer","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_xmas_tree_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":15,"wires":[["9669aaf.ee36d58"]]},{"id":"44799834.c024e8","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":150,"wires":[["9669aaf.ee36d58"],["d48c154a.6b9138"]]},{"id":"2874e7cc.6636d8","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_xmas_tree_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":105,"wires":[["9669aaf.ee36d58"]]},{"id":"41959fe8.211d","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_xmas_tree_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":195,"wires":[["d48c154a.6b9138"]]},{"id":"16125985.e00ab6","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_xmas_tree_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":60,"wires":[["9669aaf.ee36d58"]]},{"id":"26d8dfbd.d7648","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_1_off_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":405,"y":405,"wires":[["ee778be7.87f9b8"],[]]},{"id":"910261f0.d011c","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Device","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_1_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1350,"y":315,"wires":[[]]},{"id":"8ccedc76.9ba5","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_1_enabled_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":300,"wires":[["3cf74c21.defdc4"],[]]},{"id":"ee778be7.87f9b8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_1_enabled_off","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":360,"wires":[["c20d2b41.a68e38"],[]]},{"id":"c20d2b41.a68e38","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Device","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_1_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1250,"y":400,"wires":[[]]},{"id":"3cf74c21.defdc4","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_1_on_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":320,"wires":[["e37ec23b.26359"],["910261f0.d011c"]]},{"id":"e37ec23b.26359","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1110,"y":280,"wires":[["910261f0.d011c"],["c20d2b41.a68e38"]]},{"id":"994ca08d.f1363","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Device Timer 1","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.device_timer_1_on_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":410,"y":320,"wires":[["8ccedc76.9ba5"],["ee778be7.87f9b8"]]},{"id":"289032a6.1c4a1e","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Device Timer 1","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_1_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":255,"wires":[["994ca08d.f1363"]]},{"id":"4faf13fd.98034c","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":390,"wires":[["994ca08d.f1363"],["26d8dfbd.d7648"]]},{"id":"8440b1c7.7b057","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_1_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":345,"wires":[["994ca08d.f1363"]]},{"id":"ad3b50cd.fbf2f","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_1_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":435,"wires":[["26d8dfbd.d7648"]]},{"id":"4e204ccf.695254","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_1_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":300,"wires":[["994ca08d.f1363"]]},{"id":"87e60ef5.6899b","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_2_off_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":405,"y":645,"wires":[["601f949a.8a840c"],[]]},{"id":"43fd8277.bab1bc","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Device","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_2_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1350,"y":555,"wires":[[]]},{"id":"6f175156.aa684","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_2_enabled_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":540,"wires":[["8a6001f2.2cec1"],[]]},{"id":"601f949a.8a840c","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_2_enabled_off","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":600,"wires":[["12a40a3c.46ecc6"],[]]},{"id":"12a40a3c.46ecc6","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Device","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_2_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1250,"y":640,"wires":[[]]},{"id":"8a6001f2.2cec1","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_2_on_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":560,"wires":[["390f8b44.5e8a04"],["43fd8277.bab1bc"]]},{"id":"390f8b44.5e8a04","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1110,"y":520,"wires":[["43fd8277.bab1bc"],["12a40a3c.46ecc6"]]},{"id":"921b8a43.569708","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Device Timer 2","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.device_timer_2_on_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":410,"y":560,"wires":[["6f175156.aa684"],["601f949a.8a840c"]]},{"id":"62f09b94.66add4","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Device Timer 2","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_2_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":495,"wires":[["921b8a43.569708"]]},{"id":"284583b2.358e8c","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":630,"wires":[["921b8a43.569708"],["87e60ef5.6899b"]]},{"id":"136874b4.a72b0b","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_2_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":585,"wires":[["921b8a43.569708"]]},{"id":"c71aa3f8.a7783","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_2_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":675,"wires":[["87e60ef5.6899b"]]},{"id":"7750b946.ccb748","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_2_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":540,"wires":[["921b8a43.569708"]]},{"id":"b6dc0c22.16ff4","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off If No one Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_3_off_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":405,"y":885,"wires":[["44714d13.a886e4"],[]]},{"id":"cfcb577d.af6778","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn On Device","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_3_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1350,"y":795,"wires":[[]]},{"id":"2cc00f8.b4021f","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"On Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_3_enabled_on","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":780,"wires":[["55421614.61c5c8"],[]]},{"id":"44714d13.a886e4","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Off Timer Enabled","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_3_enabled_off","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":650,"y":840,"wires":[["18e8f6bd.924729"],[]]},{"id":"18e8f6bd.924729","type":"api-call-service","z":"ce2a09a1.4f8d68","name":"Turn Off Device","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["{{entity.input_select.device_timer_3_list}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1250,"y":880,"wires":[[]]},{"id":"55421614.61c5c8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Only if Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_3_on_bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":890,"y":800,"wires":[["e5bc488.d3aa0b8"],["cfcb577d.af6778"]]},{"id":"e5bc488.d3aa0b8","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Someone is Home","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.bilger_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1110,"y":760,"wires":[["cfcb577d.af6778"],["18e8f6bd.924729"]]},{"id":"7690c05b.9bedc","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Device Timer 3","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.device_timer_3_on_time","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":410,"y":800,"wires":[["2cc00f8.b4021f"],["44714d13.a886e4"]]},{"id":"626cf435.ed2c2c","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Device Timer 3","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.device_timer_3_on_time","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":735,"wires":[["7690c05b.9bedc"]]},{"id":"a02b116a.0e33b","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Someone Is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"group.bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":870,"wires":[["7690c05b.9bedc"],["b6dc0c22.16ff4"]]},{"id":"e214d040.c4935","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"On Only if Someone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_3_on_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":825,"wires":[["7690c05b.9bedc"]]},{"id":"35cfc2f0.aa75fe","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Off If Noone is Home","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_3_off_bilger_home","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":915,"wires":[["b6dc0c22.16ff4"]]},{"id":"d4dfe406.345aa8","type":"server-state-changed","z":"ce2a09a1.4f8d68","name":"Enabled/Disabled","server":"fa491300.0c8e3","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.device_timer_3_enabled_","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":155,"y":780,"wires":[["7690c05b.9bedc"]]},{"id":"9669aaf.ee36d58","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Manual Mode","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_manual","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":395,"y":45,"wires":[[],["80d094fa.cb18b8"]]},{"id":"d48c154a.6b9138","type":"api-current-state","z":"ce2a09a1.4f8d68","name":"Manual Mode","server":"fa491300.0c8e3","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.device_timer_xmas_tree_manual","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":395,"y":165,"wires":[[],["44bf48fd.000c18"]]},{"id":"ef4e4794.3c12a8","type":"http in","z":"e380253e0b5c4180","name":"","url":"toggle-light-fr-fan","method":"get","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["1d707ade.fdea35","adc182c0.51cc5"]]},{"id":"1d707ade.fdea35","type":"http response","z":"e380253e0b5c4180","name":"","statusCode":"200","headers":{},"x":220,"y":120,"wires":[]},{"id":"adc182c0.51cc5","type":"api-call-service","z":"e380253e0b5c4180","name":"","server":"fa491300.0c8e3","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["light.family_room_light"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":420,"y":80,"wires":[[]]}]